@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
html{
    scroll-behavior: smooth;
    scroll-padding-top: 15%; 
    overflow-x: hidden;
}
body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    
}
.hero {
    background-image:url(bg-hero.svg);
    background-size:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
   
}
.container_main {
    display: flex;
    flex-direction: column;
    gap: 167px; 
    
}
#socials{
    display: flex;
    gap:55px
}
.container {
    padding: 30px;
    max-width: 1600px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    gap: 330px;
}
.brand {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-left: -205px;
}
.brand span {
    display: block;
}
.menu ul {
    display: flex;
    gap: 100px;
    list-style: none;
    padding: 0;
    margin: 0;
    transform: translateX(187px);
}
ul li a {
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 700;
}
.profile {
    display: flex;
    gap: 10px;
    padding: 20px;
    max-width: 1600px;
}
.resume {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.resume h3 {
    color: #B7F111;
    font-size: 32px;
    font-weight: 600;
}
.resume h1 {
    color: #FFFFFF;
    font-size: 80px;
    font-weight: 700;
    line-height: 85px;
    max-width: 65%;
}
.resume p {
    color: #B5B3B3;
    font-size: 22px;
    max-width: 62%;
    line-height: 35px;
}
.button_one{
    margin-top: 15px;
    color:#B7F111;
    background-color: #ffffff00;
    border: 1px solid #B7F111;
    padding: 22px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    max-width: 27%;
}
.button_one {
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}
.button_one:hover{
    background-color: #B7F111;
    color: #000;
    cursor:pointer;
}
.button_one:active {
    background-color: #A8D00D; 
    color: #000;
    transform:scale(1.05);
}

.myimage {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-185px);
    
}
.myimage img {
    width: 135%;
    border-radius: 10px;
    background-size: cover; 
    background-position: center; 
    transform: translateY(60px);
}
.about{
    max-width: 1600px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    gap: 30px;
}
.about_h3{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.about_h3 h3{
    color: #000;
    font-size: 62px;
    font-weight: 700;
}
.about_h3 p{
    color: #868785;
    max-width: 40%;
    text-align: justify;
    text-align: left;
    font-weight: 400;
    line-height: 25px;
    font-size: 18px;
}
.formation{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.formation h3{
    color: #000;
    font-weight: 700;
    font-size: 32px;
}
.formation ul{
    list-style:disc;
    color: #868785;
    line-height: 25px;
    font-weight: 500;
    transform: translateX(20px);
}
.formation a{
    color: #000;
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 5px;
    transform: translateY(20px);
}
.group_images{
    margin-top: -800px;
    margin-left: 620px;
}
.people img{
    max-width: 80%;  
}
.formation_content{
    display: flex;
}
.about-content {
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.botao-flutuante {
    font-size: 18px;
    font-weight: 700;
    gap: 20px;
    display: none;
    align-items: center;
    position: fixed;      
    bottom:15px; 
    justify-content:space-evenly;         
    right: 250px;         
    padding: 20px 45px;  
    background-color: #3ED931;
    color: #fff;           
    border: none;          
    border-radius: 100px;    
    cursor: pointer;       
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s; 
  }
  
  .botao-flutuante:hover {
    transform: scale(1.1); 
  }
  .conteudo {
    height: 2000px; 
  }
  .specialties_card{
    gap: 40px;
    max-width: 1600px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    margin-top: calc(-2% - 200px);

  }
  .specialties h2{
    font-size: 62px;
    font-weight: 800;
    color: #000;
    display: flex;
  }
  .card{
    display: flex;
    gap: 17px;
    margin-left: -30px;

  }
 .card1{
    display:flex;
    gap: 30px;
    justify-content: space-between;
    border-radius: 10px;
    flex-direction:column;
    border:1px solid #D7D3D3;
    padding: 25px;
    line-height: 35px;
    height: 350px;
    max-width: 1600px;
 }
 .card1 h3{
    font-family: "Inter", sans-serif;
    color: #000;
    font-size: 45px;
    font-style: italic;
    font-weight:800;
 }
 .card1 p{
    color: #868785;
    font-size: 18px;
    font-weight: 400;
 }
 .card1 button{
    background-color: #B7F111;
    color: #000;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
 }

 .card1 button {
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}
.card1 button:hover{
    background-color: #A8D00D;
    color: #000;
    cursor:pointer;
}
.card1 button:active {
    background-color: #B7F111; 
    color: #000;
    transform:scale(1.05) 
}
#background{
    background-color: #F4F1F1;
    padding-top: 80px;
}
.portfolioall{
    display: flex;
    flex-direction: column;
    gap: 110px;
    max-width: 1600px;
    margin: 0 auto
}
.portfolio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1600px;
    margin: 0 auto;
}
.menuportfolio ul{
    display:flex ;
    align-items: center;
    gap: 80px;
    margin-right: 50px;
}
.portfolio h3{
    font-size: 62px;
    color: #000;
    font-weight: 800;
}
#portfolioall{
    display: flex;
    justify-content:space-between;
    margin: 0 auto;
    
}
.menuportfolio ul li a{
    color: #000;
    font-size: 18px;
    font-weight: 600;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}
.menuportfolio ul li a:hover{
    color: #749B05;
}
.cardportfolio h3{
    color: #000;
    font-size: 28px;
    font-weight:800;
}
.cardportfolio button{
    background-color: #B7F111;
    padding: 10px 20px;
    max-width:calc(10% + 100px) ;
    border: none;
    font-weight: 600;
    font-size: 12px;
    border-radius: 20px;
    margin-left: -5px;
    margin-bottom: 20%;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}
.cardportfolio button:hover{
    cursor: pointer;
    background-color: #A8D00D;
   
}
.cardportfolio{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.imageportfolio{
    margin-left: -22px;
    margin-bottom: -30px;
}
.contact_section{
    background-color: #1E1E1E;
    margin-top: -160px;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 70px;
    
}
.contact{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    max-width: 1600px;
    margin: 0 auto;
    padding-bottom: 280px;
}
.contact h3{
    color: #FFFFFF;
    font-size: 66px;
    font-weight:bolder;
    padding-bottom: 70px;
}
.contact p{
    display: flex;
    align-items: center;
    gap: 20px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    width: 150%;
    
}
.forms{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 100px;
    margin: 0 auto;
    
}
.forms h3{
    padding-bottom: 10px;
    color: #E3DDDD;
    font-size: 26px;
    font-weight: 600px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#form_all{
    display: flex;
    gap: 720px;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;

}
.forms_input #nome,
.forms_input #telefone,
.forms_input #assunto,
.forms_input #mensagem {
    color: #FFFFFF; 
    font-size: 20px; 
    font-family: "Inter", sans-serif; 
    background-color: #363535;
    border: none;
    padding: 25px;
    transition: border-color 0.3s ease, color 0.3s ease;
}

.forms_input #nome::placeholder,
.forms_input #telefone::placeholder,
.forms_input #assunto::placeholder,
.forms_input #mensagem::placeholder {
    color: #828080;
    font-size: 20px;
    align-items: center;
    transition: color 0.3s ease;
}

.forms_input #nome:focus,
.forms_input #telefone:focus,
.forms_input #assunto:focus,
.forms_input #mensagem:focus {
    transition: color 0.3s ease;

    outline:1px solid #B7F111;
    
}

.forms_input #nome:focus::placeholder,
.forms_input #telefone:focus::placeholder,
.forms_input #assunto:focus::placeholder,
.forms_input #mensagem:focus::placeholder {
    color: #B7F111;
}
label span{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
}
.forms_input #mensagem{
    background-color: #363535;
    padding: 20px;
    border: none;
    font-family: "Inter", sans-serif;
    resize: none;
    }
.custom-checkbox input[type="checkbox"] {
    display: none;
}

.custom-checkbox .checkmark {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #999;
    border-radius: 4px;
    margin-right: 10px;
    vertical-align: middle;
    position: relative;
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark {
    background-color: #363535;
    border-color: #929b9300;
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid #B7F111;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.forms_input button{
    font-size: 22px;
    font-weight: 800;
    background-color: #B7F111;
    padding: 25px;
    border: none;
    
    -webkit-box-shadow: 0px 0px 6px 0px rgba(183,241,17,1);
    -moz-box-shadow: 0px 0px 6px 0px rgba(183,241,17,1);
    box-shadow: 0px 0px 6px 0px rgba(183,241,17,1); 
}
.forms_input button:hover{
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(183,241,17,1);
    -moz-box-shadow: 0px 0px 8px 0px rgba(183,241,17,1);
    box-shadow: 0px 0px 8px 0px rgba(183,241,17,1); 
}
.forms_input button:active{
    
    transform:scale(1.01);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(183,241,17,1);
    -moz-box-shadow: 0px 0px 0px 0px rgba(183,241,17,1);
    box-shadow: 0px 0px 0px 0px rgba(183,241,17,1); 
}
.footer_p {
background-color: #141313;
text-align: center;
padding: 50px;
}
.footer_p p{
    color: #868785;
    font-weight: 700;
    font-size: 14px;
}

